<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Título del documento -->
    <title>Dashboard - Iniciar sesión</title>
    <!-- Optimización de la página web para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada de archivo como icono -->
    <link type="image/png" rel="icon" href="../../resources/img/logo-no-background.png">
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/logo.css">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/dashboard.css">
</head>

<body>
    
</body>
</html>