<!DOCTYPE html>
<html lang="en">

<head>
    <!-- se especifica  la codificacion  de  los caracteres para el documento-->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo del documento !-->
    <title>Inicio </title>
</head>

<body>
    <!-- encabezado del docmeunto !-->
    </header>
        
    <header>

    </header>
    <!-- Contenido principal del documento !-->
    <main>

    </main>
    <!-- pie del documento !-->
    <footer>

    </footer>
</body>

</html>