#table{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

} 

.imgra{
    width: 50px;
} 

.imgra1{
    width: 50px;
} 

.imgra2{
    width: 50px;
}
.imgra3{
    width: 50px;
}
.imgra4{
    width: 50px;
}
.imgra5{
    width: 50px;
}
.imgra6{
    width: 50px;
}

#nav{
    background-color: #6F83C3 !important;
}

#footer{
    background-color: #6F83C3 !important;
}