#table{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

} 

.tbimg{
    text-align: center;
}

#navbar{
    background-color: #6F83C3;
}

#table{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
} 

.th1{
    font-weight: bolder !important;
}

.imgra{
    width: 50px;
} 

.imgra1{
    width: 50px;
} 

.imgra2{
    width: 50px;
}
.imgra3{
    width: 50px;
}
.imgra4{
    width: 50px;
}
.imgra5{
    width: 50px;
}
.imgra6{
    width: 50px;
}

#footer{
    background-color: #6F83C3 !important;
}

