#table{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

} 

.imgra1{
    width: 100px;
} 

.nav1{
    background-color: #6F83C3 !important;
}

.ul1{
    background-color: #6F83C3 !important;
}

#footer{
    background-color: #6F83C3 !important;
}

.btnmas{
    margin-left: 150px;
    margin-top: 100px;
}