#table{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Varela Round', sans-serif; 

} 
.titulo{

    font-family: 'Varela Round', sans-serif;
}



.nav1{
    background-color: #6F83C3 !important;
}

.ul1{
    background-color: #6F83C3 !important;
}

#footer{
    background-color: #6F83C3 !important;
}