#usericon{
    
    margin-left: 22px;
}

#logo{
    width: 110px;
    height: 70px;
}

#texto-main{
    padding-left: 200px;
}

#btnIniciar{
    background-color: #A8A0E4;
    margin-top: 25px;
}

#navbar{
    background-color: #6F83C3;
}

#btnRegistrar{
    background-color: #6F83C3;
}

.nav1{
    background-color: #6F83C3 !important;
}