<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resources/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/viewProducts.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://flowbite.com/docs/getting-started/introduction/"></script>
    <title>Sobre nosotros</title>
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light px-0 font-semibold">
        <nav class="  w-full z-20 top-0 left-0 border-b static " id="navbar">
            <br>
            <div class="container flex flex-wrap items-center justify-around mx-28">
                <a href="../../views/public/products.html">
                    <img src="../../resources/img/logos/logo-no-background.png" class="h-12" id="logo" alt="Flowbite Logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
                </a>
                <div>
                    <input type="text" placeholder="   Ingrese su búsqueda..."
                        class="focus:ring-1 focus:ring-indigo-500 outline-none rounded-lg" id="buscar">
                </div>
                <div>
                    <img src="../../resources/img/iconos/buscar.png" alt="lupa" id="lupa">
                </div>
                <div class="flex items-center md:order-2">
                    <button type="button"
                      class="flex mr-3 text-sm bg-white rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                      id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                      data-dropdown-placement="bottom">
                      <span class="sr-only">Open user menu</span>
                      <img class="w-8 h-8 rounded-full" src="../../resources/img/iconos/leave.png" alt="user photo" />
                    </button>
                    <!-- Dropdown menu -->
                    <div
                      class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                      id="user-dropdown">
                      <div class="px-4 py-3">
                        <span class="block text-sm text-gray-900 dark:text-white">Kanzi</span>
                        <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">Administrador</span>
                      </div>
                      <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                          <a href="#"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                            out</a>
                        </li>
                      </ul>
                    </div>
                    <button data-collapse-toggle="mobile-menu-2" type="button"
                      class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                      aria-controls="mobile-menu-2" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </button>
                  </div>
                <div>
                    <a href="../../views/public/register.html">
                        <button type="submit" class=" w-full text-gray-100  rounded hover:bg-blue-600 transition-colors"
                            id="navbar"><img src="../../resources/img/iconos/cart.png" alt="user"
                                id="carrito">Carrito</a></button>
                </div>
            </div>
            <br>
        </nav>
    </header>
    <main>
        <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Contactanos
                    </h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">It is a long established
                        fact that a reader will be distracted by the readable content of a page when looking at its
                        layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this
                        our present charter confirmed for us and our heirs forever that the English Church shall be
                        free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus
                        observed; which is apparent from</p>
                </div>
                <div class="w-full lg:w-8/12">
                    <img class="w-full h-full" src="https://i.ibb.co/FhgPJt8/Rectangle-116.png"
                        alt="A group of People" />
                </div>
            </div>


            <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Correo
                        electronico</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">It is a long established
                        fact that a reader will be distracted by the readable content of a page when looking at its
                        layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this
                        our present charter confirmed for us and our heirs forever that the English Church shall be
                        free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus
                        observed; which is apparent from</p>
                </div>
                <div class="w-full lg:w-8/12 lg:pt-8">
                    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://i.ibb.co/FYTKDG6/Rectangle-118-2.png"
                                alt="Alexa featured Image" />
                            <img class="md:hidden block" src="https://i.ibb.co/zHjXqg4/Rectangle-118.png"
                                alt="Alexa featured Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Alexa</p>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://i.ibb.co/fGmxhVy/Rectangle-119.png"
                                alt="Olivia featured Image" />
                            <img class="md:hidden block" src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png"
                                alt="Olivia featured Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Olivia</p>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://i.ibb.co/Pc6XVVC/Rectangle-120.png"
                                alt="Liam featued Image" />
                            <img class="md:hidden block" src="https://i.ibb.co/C5MMBcs/Rectangle-120.png"
                                alt="Liam featued Image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Liam</p>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <img class="md:block hidden" src="https://i.ibb.co/7nSJPXQ/Rectangle-121.png"
                                alt="Elijah featured image" />
                            <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png"
                                alt="Elijah featured image" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Elijah</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class=" p-10  shadow md:px-6 md:py-8 dark:bg-gray-900 " id="footer">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a class="flex items-center mb-4 sm:mb-0">
                <img src="../../resources/img/logos/logo-no-background.png" class="h-8 mr-3" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm text-white sm:mb-0 dark:text-gray-400">

                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Politica privada</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Licencia </a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contactanos</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-white sm:text-center dark:text-gray-400"> <a
                class="hover:underline">PROHAW™</a>.
            Todos los derechos reservados.
        </span>
    </footer>

    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</body>

</html>