<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/resources/css/tailwind.css" rel="stylesheet">
  <link rel="stylesheet" href="/resources/css/registrarse.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-light bg-light px-0 font-semibold">
    <nav class=" fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600" id="navbar">
      <br>
      <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="https://flowbite.com/" class="flex items-center">
          <img src="/resources/img/logos/logo-no-background.png" class="h-12" id="logo" alt="Flowbite Logo">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
        </a>
        <div class="flex md:order-2">

          <button type="submit" class=" w-full text-gray-100  rounded hover:bg-blue-600 transition-colors"
            id="navbar"><img src="/resources/img/iconos/login.png " alt="user" id="usericon"><a
              href="/views/public/index.html">Iniciar
              Sesión</a>.</button>
        </div>

      </div>
      </div>
      <br>
    </nav>
  </header>

  <main class="container flex flex-wrap items-center justify-between mx-9 h-screen font-semibold">
    <p class="font-medium rounded-xl text-5xl " id="texto-main">AQUI VA EL LOGO</p>
    <form>
      <div class="flex items-center justify-center mb-3">
        <p class="font-medium rounded-xl text-4xl">Registrarse</p>
      </div>
      <div class="bg-white w-96 p-6 rounded shadow-lg">
        <label class="text-gray-700">Nombre</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4c  rounded-xl shadow-sm"
          type="email" />
        <label class="text-gray-700">DUI</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4c  rounded-xl shadow-sm"
          type="email" />
        <label class="text-gray-700">Correo</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4c  rounded-xl shadow-sm"
          type="email" />
        <label class="text-gray-700">Direccion</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4c  rounded-xl shadow-sm"
          type="email" />
        <label class="text-gray-700">Usuario</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4c  rounded-xl shadow-sm"
          type="email" />
        <label class="text-gray-700">Contraseña</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4 rounded-xl shadow-sm" type="password"" />

        <button type=" submit" class=" w-full text-gray-100  rounded-xl hover:bg-blue-600 transition-colors h-8"
          id="btnIniciar">Registrarme</button>
      </div>
    </form>
  </main>

  <footer>

  </footer>
</body>

</html>